/* input[type=range][orient=vertical]
{
   
    -webkit-appearance: slider-vertical; 
    width: 4px;
    height: 350px;
   

}
.rangeslider{
    height:350px !important;
    width:5px !important;
    background-color:rgb(235, 232, 232);
}
.rangeslider__fill{background:blue;
    height:10px !important;
    width:30px;
    padding-right:30px !important;


}

input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
 
}
input[type='range']::-webkit-slider-runnable-track {
  box-sizing: border-box;
  width: 4px;
  height: 300px;

   
}
input[type='range']::-moz-range-track {
  box-sizing: border-box;
  width:4px;
  height: 300px;
  border-radius: 2px;
  padding: 0px;

}
input[type='range']::-moz-range-thumb {
  box-sizing: border-box;
  padding: 0px;
  height: 20px;
  width: 10px;
  border-radius: 2px;
  border: 1px solid;
 
}
input[type='range']::-ms-track {
  box-sizing: border-box;
  width: 8px;
  height: 300px;
  border-radius: 2px;
  padding: 0px;
    background-color: red;
  color: red;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: black;
    margin-top: -4px;
}
input[type='range']::-ms-thumb {
  box-sizing: border-box;
  padding: 0px;
  height: 20px;
  width: 10px;

  border-radius: 2px;
  border: 1px solid;
  background-color: red;
}
input[type="range"]::-ms-fill-lower {
    background-color: transparent;
}
input[type='range']:focus {
    background-color: red;
  outline: none;
} */
#zoom-graph{
   
    width:600px;
    height:350px;

}
button.btn-close{
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='rgba(0,0,0,0.5)'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat !important;
  }


.slidecontainer {
  width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 393px;
    height: 5px;
    border-radius: 5px;
    background: #fdf4f4;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
    transform: rotate(270deg);
    position: absolute;
    left: 560px;
    top: 200px;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 25px;
  border-radius: 10%;
  background: #fff5f5;
  border:1px solid black;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #BDBDBD;
  cursor: pointer;
}
