input[type=range][orient=vertical]
{
    /* writing-mode: bt-lr;  */
    -webkit-appearance: slider-vertical; 
    width: 4px;
    height: 350px;
   

}
.rangeslider{
    height:350px !important;
    width:5px !important;
    background-color:rgb(235, 232, 232);
}
.rangeslider__fill{background:blue;
    height:10px !important;
    width:30px;
    padding-right:30px !important;


}
.close{
  color:black !important;
}
input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
 
}
input[type='range']::-webkit-slider-runnable-track {
  box-sizing: border-box;
  width: 4px;
  height: 300px;

   
}
input[type='range']::-moz-range-track {
  box-sizing: border-box;
  width:4px;
  height: 300px;
  border-radius: 2px;
  padding: 0px;

}
input[type='range']::-moz-range-thumb {
  box-sizing: border-box;
  padding: 0px;
  height: 20px;
  width: 10px;
  border-radius: 2px;
  border: 1px solid;
 
}
input[type='range']::-ms-track {
  box-sizing: border-box;
  width: 8px;
  height: 300px;
  border-radius: 2px;
  padding: 0px;
    background-color: red;
  color: red;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: black;
    margin-top: -4px;
}
input[type='range']::-ms-thumb {
  box-sizing: border-box;
  padding: 0px;
  height: 20px;
  width: 10px;

  border-radius: 2px;
  border: 1px solid;
  background-color: red;
}
input[type="range"]::-ms-fill-lower {
    background-color: transparent;
}
input[type='range']:focus {
    background-color: red;
  outline: none;
}
#zoom-graph{
   
    width:600px;
    height:350px;

}
button.btn-close{
    color:black;
}