html,
body{
    margin: 0;
    padding: 0;
    height: 100%;
}
#root{
  height: 100%;
}
.App {
  text-align: center;
  height: 100%;
}
/* .App div{

  height: 100%;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.ifram{
  height:100%;
  width:100%;
}

.ifram >iframe{
  height:100%;
  width:100%;
}
.div1 {
  border: 1px solid red;
  width: 978px;
  height: 503px;
  position: absolute;
  z-index: 1;
  top: 105px;
  left: 14px;
}


.header-bg{
  background: #062f2e;
}
.modal-content{
border:none;
}
.modal-body{
  border:10px solid rgb(6 47 46);
}
.modal-header{
  border-bottom:1px solid rgb(222 226 230 / 15%) !important; 
}
.btn-close{
background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='rgba(255,255,255,0.5)'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat !important;
}

